<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.crms.mapper.ClassMapper">
    <resultMap id="resultUser" type="User">
        <result column="id" property="id"/>
        <result column="phone" property="phone"/>
        <result column="wechat_id" property="wechatId"/>
        <result column="openid" property="openId"/>
        <result column="avatar" property="avatar"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="school_id" property="schoolId"/>
        <result column="gender" property="gender"/>
        <result column="type" property="type"/>
        <result column="number" property="number"/>
        <result column="education" property="education"/>
        <result column="title" property="title"/>
        <result column="email" property="email"/>
    </resultMap>

    <resultMap id="resultClassInfo" type="ClassInfo">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <!--<result column="course_id" property="courseId"/>-->
        <result column="site" property="site"/>
        <result column="class_time" property="classTime"/>
        <result column="description" property="description"/>
        <result column="report_percentage" property="reportPercentage"/>
        <result column="presentation_percentage" property="presentationPercentage"/>
        <result column="five_point_percentage" property="fivePointPercentage"/>
        <result column="four_point_percentage" property="fourPointPercentage"/>
        <result column="three_point_percentage" property="threePointPercentage"/>

        <association property="course" javaType="xmu.crms.entity.Course"
                     select="xmu.crms.mapper.ClassMapper.findCourseByCourseId" column="course_id">
        </association>
    </resultMap>

    <delete id="deleteClassSelectionByClassId" parameterType="BigInteger">
        DELETE FROM course_selection
        WHERE class_id=#{classId}
    </delete>

    <select id="findTeacherIdByteacherName" parameterType="String" resultType="User">
      SELECT id FROM user_info
      WHERE type = 1
      AND `name`=#{teacherName}
    </select>

    <select id="findTeacherIdByteacherName" parameterType="String" resultType="Course">
        SELECT id FROM user_info
        WHERE type = 1
        AND `name`=#{teacherName}
    </select>

    <select id="findCourseIdByteacherIdAndCourseName" resultType="Course">
        SELECT id FROM course
        WHERE teacher_id = #{teacherId}
        AND `name` = #{courseName}
    </select>

    <select id="findClassByCourseId" parameterType="BigInteger" resultMap="resultClassInfo">
      SELECT id,
              `name`,
              course_id,
              description,
              site,
              class_time,
              report_percentage,
              presentation_percentage,
              five_point_percentage,
              four_point_percentage,
              three_point_percentage
      FROM class_info
      WHERE course_id = #{courseId}
    </select>


    <select id="findClassByClassId" parameterType="BigInteger" resultMap="resultClassInfo">
        SELECT id,
        `name`,
        course_id,
        description,
        site,
        class_time,
        report_percentage,
        presentation_percentage,
        five_point_percentage,
        four_point_percentage,
        three_point_percentage
        FROM class_info
        WHERE id = #{classId}
    </select>


    <update id="updateClassByClassId" >
        UPDATE class_info
        set `name` = #{name},
            course_id = #{courseId},
            description = #{description},
            site = #{site},
            class_time = #{classTime},
            report_percentage = #{reportPercentage},
            presentation_percentage = #{presentationPercentage},
            five_point_percentage = #{fivePointPercentage},
            four_point_percentage = #{fivePointPercentage},
            three_point_percentage = #{threePointPercentage}
        WHERE id = #{classId}
    </update>
</mapper>