<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.crms.mapper.ClassMapper">
    <resultMap id="resultClass" type="ClassInfo">
    </resultMap>
    <!--<insert id="insert" parameterType="com.ridebikes.demo.model.BikeInfo">-->
        <!--INSERT INTO bike(bike_id,type_id,org_id,release_time)-->
        <!--VALUES (#{bike_id},#{type_id},#{org_id},#{release_time})-->
    <!--</insert>-->
    <delete id="deleteClassSelectionByClassId" parameterType="BigInteger">
        DELETE FROM course_selection
        WHERE class_id=#{classId} <!-- #{_bike_id}-->
    </delete>
    <!--<update id="update"  parameterType="com.ridebikes.demo.model.BikeInfo">-->
        <!--UPDATE bike-->
        <!--set type_id=#{type_id},-->
        <!--org_id=#{org_id},-->
        <!--release_time=#{release_time}-->
        <!--WHERE bike_id=#{bike_id}-->
    <!--</update>-->
    <!--<select id="getAllTypes" parameterType="Integer" resultType="com.ridebikes.demo.model.Type">-->
        <!--SELECT *-->
        <!--FROM types-->
        <!--WHERE org_ids LIKE concat(concat('%',#{org_id}),'%')-->
    <!--</select>-->

    <!--<select id="getById" parameterType="String" resultType="com.ridebikes.demo.model.BikeInfo">-->
        <!--SELECT *-->
        <!--FROM bike-->
        <!--WHERE bike_id=#{bike_id}-->
    <!--</select>-->
    <!--<select id="get" parameterType="com.ridebikes.demo.model.BikeInfo" resultMap="resultListBikeInfo">-->
        <!--SELECT * FROM bike-->
        <!--<if test="bike_id!=''">-->
            <!--WHERE bike_id = #{bike_id}-->
        <!--</if>-->
        <!--<if test="type_id!=null">-->
            <!--<if test="bike_id!=''">-->
                <!--AND type_id = #{type_id}-->
            <!--</if>-->
            <!--<if test="bike_id==''">-->
                <!--WHERE type_id = #{type_id}-->
            <!--</if>-->
        <!--</if>-->
        <!--<if test="org_id!=null">-->
            <!--<if test="bike_id!='' or type_id!=null">-->
                <!--AND org_id = #{org_id}-->
            <!--</if>-->
            <!--<if test="bike_id=='' and type_id==null">-->
                <!--WHERE org_id = #{org_id}-->
            <!--</if>-->

        <!--</if>-->
        <!--<if test="release_time!=''">-->
            <!--<if test="bike_id!='' or type_id!=null or org_id!=null">-->
                <!--AND release_time = #{release_time}-->
            <!--</if>-->
            <!--<if test="bike_id=='' and type_id==null and org_id==null">-->
                <!--WHERE release_time = #{release_time}-->
            <!--</if>-->

        <!--</if>-->
    <!--</select>-->
</mapper>